body {
    background-color: black;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Calculator-wrapper {
    background-color: white;
    width: 400px;
    border-radius: 18px;
}
.row {
    display: flex;
}